body {
	background-color: #f8f8f8;
    resize: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
.h1 {
    font-size: 22px;
    letter-spacing: .05rem;
}
.header-nav-subtitle {
    font-size: 24px;
    letter-spacing: .05rem;
}
.header-nav-link {
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    letter-spacing: .05rem;
}
.is-active {
    color: #0324fc;
}
.content {
    margin: 3rem 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
.contact-form-field {
    border-radius: .2rem;
    border-color: #ccc;
    box-shadow: none;
    background-color: #FCFCFC;
}
.contact-form-field:focus {
    background-color: #fff;
    border-color: #ccc;
    box-shadow: none;
}
.contact-submit {
    padding: 0.5rem 1rem;
    background-color: #000;
    text-transform: uppercase;
    letter-spacing: .05rem;
}
.contact-submit:hover {
    background-color: #000;
    opacity: .8;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}